table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
}

body {

  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

@media  (max-width: 600px) {
  body {
    font-size: 24px;


  }
}


table {
  background-color: white;
  /* Couleur de fond blanche */
}

a:hover {
  color: rgb(0, 0, 0);
  /* Couleur de texte au survol de la souris (par exemple, orange) */
}

img:hover {
  transform: scale(1.5);
  /* Agrandissement de 20% (ajustez selon vos besoins) */
}
div{ margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(226, 201, 201);
}